<router-outlet></router-outlet>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand">Mi viaje</span>
    </div>
  </nav>
</header>

<main>
  <div id="carouselTitulo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button *ngFor="let dia of viajeData?.MiViaje; let i = index" [class.active]="i === 0" [attr.data-bs-target]="'#carouselTitulo'" [attr.data-bs-slide-to]="i" aria-current="true"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let dia of viajeData?.MiViaje; let i = index" [class.active]="i === 0" [style.background-image]="'url(' + dia.imagen + ')'" style="background-size: cover; background-position: center;">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ dia.dia }}</h1>
            <h3>{{ dia.nombre }}</h3>
          </div>
        </div>
        
        <!-- <app-detail [viaje]="viaje" *ngIf="viaje"></app-detail> -->
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselTitulo" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselTitulo" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </a>
  </div>
  
  <!-- Componente Days -->
  <app-days></app-days>

  <!-- FOOTER -->
  <footer class="footer mt-auto py-3 bg-dark fixed-bottom">
    <div class="container h6 text-center">
      <span class="text-light">FP.067 - Desarrollo front-end con frameworks en entornos móviles</span><br/>
      <span class="text-light"><a href="https://sites.google.com/uoc.edu/fp067pdesarrollofront-endconfr/home" target="_blank">DevFrontJs</a></span>
    </div>
  </footer>
</main>

