.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.modal.show {
    display: flex;
}

.modal-open {
    overflow: hidden;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 950px;
    max-width: 950px;
    text-align: center;
    display: flex;
    border-radius: 5px;
} 

.modal-content-title {
    width: 100%;
    flex: 100%;
    margin-bottom: 15px;
} 

.modal-content-title h2 input {
    text-align: center; 
    width: 500px; 
    margin: auto; 
    font-size: xx-large; 
    font-weight: 400;
}

.modal-content-details {
    display: flex;
    flex-wrap: wrap;
}

.modal-content-detail {
    text-align: justify;
    flex: 55%;
    border: 0.1em solid rgb(222, 226, 230);
    border-radius: 6px;
    padding: 15px;
    margin-right: 10px;
    float: right;
}

.modal-content-video {
    text-align: center;
    flex: 40%;
    border: 0.1em solid rgb(222, 226, 230);
    border-radius: 6px;
    padding: 15px;
    float: right;
}

.modal-content-detail > p,
.modal-content-video > p {
  line-height: 20px;
}

.detail-botones {
    margin-top: 15px;
    width: auto;
}

.detail-botones button {
    width: 250px;
    margin: 10px;
    height: 44px;
}

.detail-botones button i {
    font-size: large;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

li {
    margin-left: 25px;
}

.details {
    font-size: x-large;
    font-variant: small-caps;
    border-bottom: 1px solid rgb(222, 226, 230);
    padding-bottom: 10px;
}

.details-l {
    text-align: left;
}

.details-r {
    text-align: right;
}

.modal-content-detail .row {
    margin-bottom: 15px;
}

ul {
    margin-bottom: 0px;
}

input.ng-invalid.ng-touched {
    border: 1px solid #ffb6b6;
    background-color: #ffb6b666;
}