<div id="modal-viaje-{{ componentId }}-{{ viaje.codigo }}" class="modal modal-viaje-{{ viaje.codigo }}" *ngIf="viaje">
    <form [formGroup]="editForm">
        <div class="modal-content">
            <div class="modal-content-title">
                <h2><input type="text" class="form-control" formControlName="nombre"></h2>
            </div>
            <div class="modal-content-details">
                <div class="modal-content-detail">
                    <p class="details details-l">Detalles</p>
                    <div class="row">
                        <div class="col">
                            <label class="bold">Día de la semana</label>
                            <select class="form-control" formControlName="dia">
                                <option value=""></option>
                                <option value="Lunes">Lunes</option>
                                <option value="Martes">Martes</option>
                                <option value="Miércoles">Miércoles</option>
                                <option value="Jueves">Jueves</option>
                                <option value="Viernes">Viernes</option>
                                <option value="Sábado">Sábado</option>
                                <option value="Domingo">Domingo</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="bold">Ciudad</label>
                            <input type="text" class="form-control" formControlName="ciudad">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="bold">Alojamiento</label>
                            <input type="text" class="form-control" formControlName="alojamiento">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="bold">Resumen</label>
                            <textarea type="text" class="form-control" formControlName="descripcion" rows="5" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="bold">Actividades del día</label>
                            <ul class="fa-ul" style="--fa-li-margin: 1em;">
                                <li *ngFor="let actividad of viaje.actividades"><span class="fa-li"><i class="fa-solid fa-check-square"></i></span>{{ actividad }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-content-video">
                    <p class="details details-r">Multimedia</p>
                    <div class="modal-content-imagen">
                        <app-player *ngIf="viaje.video" [videoSrc]="viaje.video"></app-player>
                        <p *ngIf="!viaje.video">Lamentablemente no tenemos un vídeo para este día.</p>
                        <input type="file" (change)="onFileSelected($event, 'video')" accept="video/*" style="margin-top: 10px !important;">
                    </div>
                    <div class="modal-content-imagen" style="margin-top: 20px !important; padding-top: 20px; border-top: 0.1em solid rgb(222, 226, 230);">
                        <img *ngIf="viaje.imagen" class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ viaje.imagen }}" />
                        <p *ngIf="!viaje.imagen">Lamentablemente no tenemos una imagen para este día.</p>
                        <input type="file" (change)="onFileSelected($event, 'imagen')" accept="image/*" style="margin-top: 10px !important;">
                    </div>
                </div>
            </div>
            <div class="detail-botones">
                <button type="button" class="btn btn-success" (click)="updateViaje()" [disabled]="!editForm.valid"><i class="fa fa-save"></i>Guardar</button>
                <button type="button" class="btn btn-primary" (click)="closeModal(viaje)"><i class="fa fa-close"></i>Cerrar</button>
            </div>
        </div>
    </form>
</div>