.tabla-viaje-container {
    margin-bottom: 2em;
}
.tabla-viaje-filter {
    margin: 10px;
}
.tabla-viaje-table th,
.tabla-viaje-table td {
    margin:0;
    border: 1px solid #aaa;
    padding: 5px;
}
.tabla-viaje-table th {
    background-color:  rgb(238, 238, 238);
}

.tablaViajeComponent {
    padding: 10px;
}
.tablaViajeComponent:HOVER {
    background-color:  #EEEEEE;
}

.tabla-viaje-filter > label {
    padding-left: 5px;
}