<div class="container days-container">
    <div class="d-flex" style="border: 0.1em solid rgb(222, 226, 230); padding: 15px; border-radius: 6px;">
        <div class="days-filters d-flex align-items-center" style="width: 66%;">
            <div class="form-group days-filter">
                <label>Día de la semana</label>
                <select [(ngModel)]="filtroDia" class="form-select" placeholder="Selección" style="width: 180px;">
                    <option [ngValue]="" selected></option>
                    <option value="lunes">Lunes</option>
                    <option value="martes">Martes</option>
                    <option value="miercoles">Miércoles</option>
                    <option value="jueves">Jueves</option>
                    <option value="viernes">Viernes</option>
                    <option value="sabado">Sábado</option>
                    <option value="domingo">Domingo</option>
                </select>
            </div>
            <div class="form-group days-filter">
                <label>Ciudad</label>
                <input [(ngModel)]="filtroCiudad" type="text" class="form-control" placeholder="Madrid, Barcelona, Valencia, ..." size="40px">
            </div>
        </div>
        <div style="width: 33%; margin: auto;" class="text-end">
            <button type="button" class="btn btn-success day-botones" style="width: 235px;" (click)="addViajeButton()">
                <i class="fa fa-plus"></i>Añadir día
            </button>
        </div>
    </div>
     <!-- Listado de días que cumplen con el filtro. De inicio se mostrarán todos. --> 
    <div class="container marketing mt-5">
        <div class="row">
            <div class="col-lg-4 mb-5 DaysComponent" *ngFor="let viaje of filtrarViajes()">
                <div style="width: 100%; text-align: center; position: relative;">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ viaje.imagen }}" />
                    <button class="btn btn-danger" (click)="eliminarViaje(viaje)"><i class="fa fa-trash"></i></button>
                </div>
                <h2 class="mt-3">{{ viaje.nombre }}</h2>
                <p style="font-style: italic;">{{ viaje.dia }}</p>
                <p style="min-height: 115px; text-align: justify;">{{ viaje.descripcion }}</p>
                <div style="width: 100%; text-align: center;">
                    <button class="btn btn-primary btn-like-link day-botones" (click)="openModal('daysId',viaje)"><i class="fa fa-search"></i>Ver detalles</button>
                </div>

                <!-- Utilizo el componente DetailComponent en lugar del modal -->
                <app-detail [componentId]="'daysId'" [viaje]="viaje" *ngIf="viaje"></app-detail>
            </div>
        </div>
    </div>
    <!-- En caso que el listado filtrado no retorne datos, se mostrará el siguiente DIV. -->
    <div *ngIf="filtrarViajes().length === 0" class="d-flex justify-content-center align-items-center">
        <div style="text-align: center;">
            <h2 class="mt-3">Sin datos</h2>
            <p style="min-height: 115px; text-align: justify;">La información introducida en el filtro no ha retornado datos.</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="formularioViaje" (ngSubmit)="onSubmit()">
            <div class="modal-body">
                <label for="codigo">Código:</label>
                <input type="text" id="codigo" formControlName="codigo" required>
              
                <label for="dia">Día:</label>
                <input type="text" id="dia" formControlName="dia" required>
              
                <!-- Otros campos del formulario -->
              
                <button type="submit">Agregar Viaje</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div> 
  <script>

  </script>  

